<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.imagepicker"
  >
    <application>
      <provider
            android:name=".utils.ImagePickerProvider"
            android:authorities="${applicationId}.image.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_image_picker_paths" />
        </provider>
    </application>
</manifest>
