name: Main CI

on:
  pull_request:
    branches:
      - main

jobs:
  Main:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: |
          yarn install

      - name: Build
        run: |
          yarn prepare

      - name: Publish to NPM
        if: ${{ github.event.pull_request.merged == true }}
        run: |
          yarn ci:publish

  tests:
    runs-on: ubuntu-latest
    needs: [checks]
